/* css of Navbar-srijan logo, social-icons, navbar-drawer, main page buttons */

/* 1. Navbar logo */

.navbar {
	position: fixed ;
	top: 0;
	width: 100%;
    z-index: 10;
    /* background-attachment: fixed; */
}

.navbar-logo {
	margin-top: 10px;
	margin-left: 10px;
	width: 100px;
}

/* 2. Social icon */

.social-div {
	position: fixed;
	bottom: 8px;
	width: 100%;
	z-index: 10;
	display: flex;
	padding: 0 17px;
}

.social-div a {
	display: flex;
	width: 45px;
	font-size: 20px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid #ccc;
	color: #ccc;
	justify-content: center;
	align-items: center;
	margin: 5px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 600px) {
	.navbar-logo {
		margin-top: 15px;
		margin-left: 15px;
		width: 40px;
	}
}

.social-div {
	padding: 0 7px;
}

.social-div a {
	width: 30px;
	height: 30px;
	font-size: 12px;
}


.social-div a:hover {
	color: #ffffff;
}

.facebook:hover {
	border: 1px solid #3c5a99;
	background-color: #3c5a99;
}

.twitter:hover {
	border: 1px solid #38A1F3;
	background-color: #38A1F3;
}

.instagram:hover {
	border: 1px solid #fb3958;
	background-color: #fb3958;
}

.youtube:hover {
	border: 1px solid #ff0000;
	background-color: #ff0000;
}



/* 3. Nav bar new */
.open {
	z-index: 10;
	  position: fixed;
	  top: 40px;
	  right: 40px;
	  width: 50px;
	  height: 50px;
	  display: block;
	  cursor: pointer;
	  transition: opacity 0.2s linear;
	}
  
	@media screen and (max-width: 600px) {
	  .open {
		top: 20px;
		right: 20px;
		height: 25px;
		width: 25px;
	  }
	}
	
	.open:hover {
	  opacity: 0.8;
	}
	
	.open span {
	  display: block;
	  float: left;
	  clear: both;
	  height: 4px;
	  width: 40px;
	  border-radius: 40px;
	  background-color: #fff;
	  position: absolute;
	  right: 3px;
	  top: 3px;
	  overflow: hidden;
	  transition: all 0.4s ease;
	}
	
	.open span:nth-child(1) {
	  margin-top: 10px;
	  z-index: 9;
	}
	
	.open span:nth-child(2) { margin-top: 25px; }
	
	.open span:nth-child(3) { margin-top: 40px; }
	
	.sub-menu {
	  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  height: 0;
	  width: 0;
	  right: 0;
	  top: 0;
	  position: absolute;
	  background-color: rgba(38, 84, 133, 0.54);
	  border-radius: 50%;
	  z-index: 18;
	  overflow: hidden;
	}
	
	.sub-menu li {
	  display: block;
	  float: right;
	  clear: both;
	  height: auto;
	  margin-right: -160px;
	  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	
	.sub-menu li:first-child { margin-top: 180px; }
	
	.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }
	
	.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }
	
	.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }
	
	.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }
	
	.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }
	
	.sub-menu li a {
	  color: #fff;
	  font-family: 'Lato', Arial, Helvetica, sans-serif;
	  font-size: 16px;
	  width: 100%;
	  display: block;
	  float: left;
	  line-height: 40px;
	}
	
	.oppenned .sub-menu {
	  opacity: 1;
	  height: 400px;
	  width: 400px;
	}
	
	.oppenned span:nth-child(2) { overflow: visible; }
	
	.oppenned span:nth-child(1),
	.oppenned span:nth-child(3) {
	  z-index: 100;
	  transform: rotate(45deg);
	}
	
	.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }
	
	.oppenned span:nth-child(2) {
	  height: 400px;
	  width: 400px;
	  right: -160px;
	  top: -160px;
	  border-radius: 50%;
	  background-color: rgba(38, 84, 133, 0.54);
	}
	
	.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }
	
	.oppenned li { margin-right: 168px; }

/* 4. MAin-page buttons */
.btn_ctnr{
  position: fixed;
  top:2%;
  right: 10%;
  margin:10px;
  display: inline-flex;
  z-index: 10;
}
.btn{
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  /* border: 1px #ffffff solid;
  border-radius: 2px; */
}

.btn > a{
  text-decoration:none;
  color: #ffffff;
}

.btn > a:hover{
  color: #00dddd;
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
  }
  .btn_ctnr {
    top: 3%;
    right: 15%;
  }
}

@media (orientation: portrait) {
	.btn_ctnr {
		z-index: -1000000;
	}
}