@import url("http://fonts.googleapis.com/css?family=Oswald");


html {
  height: 100%;
  overflow: hidden;
}

#pre-load {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #120a8f no-repeat;
  background-position: center;
  background-image: url(../images/loader.svg);
  z-index: 99999;
}

body { 
  margin:0;
  padding:0;
  height: 100%;
  font-family: Oswald;
}

.main-sections {
  margin:0;
  padding:0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1px;
}

/*SECTION PARTS SIZING*/
p {
  font-size: 1.2em;
  line-height: 150%;
  color: #333;
}
.section {
  position: relative;
  padding: 0;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* box-shadow: 0 5px 1px rgba(0, 0, 0, .7), 0 -5px 1px rgba(0, 0, 0, .7); */
  background: 50% 50% / cover;  
}

/*SECTION DATA BOXES*/
.text {
  width: 60%;
  top: 65%;
  padding: 5px 50px;
  border-radius: 5px;
  /* background: rgba(200,200,200, .7); */
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  position: relative;
}

/* Different section properties */
#section1 .text{
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right top, #11305e, #006399, #0097a5, #00c777, #a8eb12);  opacity: .8;
}
#section2 .text{
  top: 40%;
  background-image: linear-gradient(to right bottom, #674b5b, #885055, #9b5d41, #96752a, #74922c);
  margin-left: auto;
  margin-right: auto;
}
#section3 .text{
  margin-left: auto;
  margin-right: 0;
}

@media screen and (min-width: 601px) {
  .text {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .text {
    font-size: 10px;
    width: 80%;
  }
}

#section4 .text{
  top: 30%;
  left: 2%;
  width: 60%;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  #section4 .text {
    font-size: 15px;
    width: 70%;
  }
}

/*SECTION IMAGES*/
#title {
  background-attachment: fixed;  
}
#section1{
  background-image: url("../images/div2.png");
  transform: translateZ(-1px) scale(2.1);
  z-index:-1;
  height: 100vh;
}
#section2 {
  background-image: linear-gradient(to bottom, #010711, #00132f, #00194c, #081a68, #36107e);
  background-attachment: fixed;
  height: 100vh;
}
#section3{
  background-image: linear-gradient(to right bottom, #0a1e57, #29226b, #48237d, #691f8c, #8c0d97);  
  transform: translateZ(-.9px) scale(2);
  z-index:-1;
  height: 100vh;
}
#section4{
  background-image: linear-gradient(to right bottom, #204206, #3c3200, #491e00, #490913, #3b0325);
  height: 100vh;
  overflow: hidden;
}
/* ########################### Section3 css ############################# */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container > div {
  width: 150px;
  margin: 10px;
  text-align: center;
  /* line-height: 2px; */
  font-size	: 15px;
}
.heading{
  font-family: 'Montserrat', Verdana, 'Geneva', Tahoma, sans-serif;
  padding-bottom: 15px;
  text-align: center;
}
.counter1{
  margin: 10px;
}
.stats{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
}
.top-stat {
  padding-top: 150px;
  transition: top 1s ease;
  color: #e8e5be;
  font-size: 1.5em;
  }
@media (orientation: portrait) {
  .stats {
    padding: 1px;
  }
}
@media screen and (max-width: 600px) {
  .flex-container > div {
    font-size: 5px;
    margin: 5px;
    width: 40%;

  }
  .heading {
    font-size: 10px;
    padding-bottom: 5px;
  }
  .top-stat {
    padding-top: 50px;
  }
}


/* ########################### Section4 css ############################# */

.site-map {
  width: 70%;
}
.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sec4-flex{
  width: 200px;
  margin: 10px;
  padding: 15px;
  text-align: centre;
  font-size: 1em;
  line-height: 5px;
  color: #e8e5be;
}
#section4 > h2 {
  text-align: center;
}
.sec4-flex > a{
  cursor: pointer;
  color: #eef2bf;
  text-decoration: none;
}
.quick-links > a:hover{
  color: #00dddd;
}
@media screen and (max-width: 600px) {
  .site-map {
    width: 100%;
  }
  .sec4-flex {
    width: 100px;
    font-size: 1em;
    padding: 5px;
    margin: 5px;
    line-height: 1px;
    color: white;
  }
}