		*{
			font-family: "Payday", "Raleway";
			text-align: center;
			color: #ffffff;
		}

		@font-face {
			font-family: "Payday";
			src: url("css/font/Payday.eot");
			src:
			url("css/font/Payday.woff") format("woff"),
			url("css/font/Payday.otf") format("opentype"),
			url("css/font/Payday.svg#filename") format("svg");
		}

		.links{
			display: block;
			position: absolute;
			top: 5%;
			right: 8%;
		}
		.links > li{
			display: inline-block;
			margin: 0 5px;
		}
		.links > li > a{
			transition: 0.25 ease;
			text-decoration: none;
			font-family: "Raleway","Lato", sans-serif;
			color: white;
		}
		.links > li > a:hover{
			color: #00dddd;
			transition: 0.25s ease;
		}
		.card {
			margin: 5%;
  			transition: 0.5s;
  			width: 220px;
  			height: 354px;
			border-radius: 5px;
			color: #ffffff;
		}
		.flex-container .card:hover{
			transition: 0.5s ;
			transform: scale(1.2);
			filter: none;
		}

		img {
		    border-radius: 50%;
		}
		.contain {
			padding: 2px 16px;
		}
		.flex-container{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
		.flex-container > .card{
			transform: scale(1);
		}
		.flex-container > .card > img{
			filter: blur(1.5px);
			transition: 0.5s ease;
		}
		.flex-container > .card > img:hover{
			transition: 0.5s ease;
			filter: none;
		}
		.navbar-logo {
		    margin-top: 20px;
		    margin-left: 20px;
		    width: 50px;
		    position: relative;
		    top: -45%;
		    left: -45%;
		}
		@media only screen and (max-width: 600px) {
			.flex-container > .card > img{
			filter: blur(0);
			transition: 0.5s ease;
			}
		}