
/*navbar*/
.navbar-default .navbar-nav > li > a {
  color: rgba(0,0,0,0.8);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgba(255, 255, 255, 0.91);
  background-color: #072542;
  
  
}
.navbar-default {
	background-color: transparent;
	opacity: 0.9;
	padding: 5px 0;
	font-weight: 500;
}
.navbar-default .navbar-brand {
	font-weight: 700;
	font-size: 26px;
	color: transparent;

}

.navbar-nav{
	background-color: #eee;
	transform: skewX(-6deg);
}

.navbar-nav li a{
	color: rgba(0,0,0,0.6);
}
.navbar-brand .fa {
	color: #38b5c9;
}
.navbar-toggle {
	border-color: transparent;
	border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #4ABCC5;	
}

	/*sponsors things*/
 .other-sponsors{
	 font-weight: bold;
	 font-size: 40px;
	 font-style: italic;
	
	 color:sandybrown;
 }
 .centered {
	text-align: center;
}

#footerwrap span.copyright {
	line-height: 40px;
	color: #888;
	font-weight: 400;
}
#footerwrap span.copyright a {
	color: #888;
	border-bottom: 1px dotted;
}
#footerwrap span.copyright a:hover {
	color: #3ab7cb;
	text-decoration: none;
}
#footerwrap h4 {
	color: white;
}
  .platinum-sponsor {
	font-size:35px; font-weight:bold;color:sandybrown;

	font-style: italic;
	padding-top:2%;
  }

  .gold-sponsor {
	font-size:35px; font-weight:bold;color:sandybrown;

	font-style: italic;
	padding-top:2%;
  }

	#sponsors{
		background-color: #34495e;
		color: rgba(255,255,255,0.7);
	}
	#sponsors h2,h3{
		color: rgba(255,255,255,0.7);
	}
	.mydiv{
		  /* display: flex; */
	
		max-width: 400px;
		margin:30px auto;
		/* flex-direction: row; */
		padding: 10px; 
		/* box-shadow: 0px 23px 30px -20px rgba(0,0,0,0.6);
		background: rgba(70, 93, 114,0.6); */
	}
	.spons h4{
		color: rgba(255,255,255,0.7);
		padding-top: 2%;
	}
	.spons-img{
		display: block;
		
		margin: 0px auto;
		width: 250px;
		height: 200px;
	}

/* watch css */



/*body {
	background: #eee;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}*/

/* Website Header */
.header {
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	color: #999;
	margin: 50px;
}

/* Watch Container */
.watch-container {
	width: 300px;
	margin: 50px auto;
}

/* Watch */
.watch {
	position: relative;
	width: 300px;
	height: 300px;
}

/* Watch Face */
.watch-face {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background: #3F484A; /* Dial colour */
	border: 10px solid silver; /* Face border */
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.3);
}
	
	/* Watch Face Outline */
	.watch-face-outline {}

	.watch-face-outline-point {
		position: absolute;
		width: 10px;
		height: 10px;
		background: #777;
		left: 145px;
		top: 24px;
		border-radius: 100%;
		-webkit-transform-origin: 50% 126px;
		transform-origin: 50% 126px;
	}

	.point-12 { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	.point-1 { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
	.point-2 { -webkit-transform: rotate(60deg); transform: rotate(60deg); }
	.point-3 { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
	.point-4 { -webkit-transform: rotate(120deg); transform: rotate(120deg); }
	.point-5 { -webkit-transform: rotate(150deg); transform: rotate(150deg); }
	.point-6 { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	.point-7 { -webkit-transform: rotate(210deg); transform: rotate(210deg); }
	.point-8 { -webkit-transform: rotate(240deg); transform: rotate(240deg); }
	.point-9 { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
	.point-10 { -webkit-transform: rotate(300deg); transform: rotate(300deg); }
	.point-11 { -webkit-transform: rotate(330deg); transform: rotate(330deg); }

	/* Watch Face Date */
	.watch-face-date {
    position: absolute;
		background-color: rgba(0,0,0,0.1);
    width: 27px;
    height: 27px;
    border-radius: 100%;
    text-align: center;
		top: 138px;
		right: 50px;
		font-size: 15px;
    line-height: 27px;
		color: #aaa;
		font-weight: 300;
	}

	/* Watch Face Center */
	.watch-face-centre {
		position: absolute;
		width: 12px;
		height: 12px;
		top: 144px;
		left: 144px;
		border-radius: 100%;
		background: #fff;
	}

	.watch-face-centre-inner {
		position: absolute;
		z-index: 1;
		width: 8px;
		height: 8px;
		top: 2px;
		left: 2px;
		border-radius: 100%;
		background: #333;
		border: 2px solid #fa9f22;
	}

	/* Watch Face Hands */
	.watch-face-hands {}

	.watch-face-hand {
		position: absolute;
	}

	.watch-face-hand.hour {
		width: 4px;
		height: 60px;
		top: 90px;
		left: 148px;
		border-radius: 10px;
		background: #fff;
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: rotate(306deg);
		transform: rotate(306deg);
	}

	.watch-face-hand.minute {
		width: 4px;
		height: 120px;
		top: 30px;
		left: 148px;
		border-radius: 10px;
		background: #fff;
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: rotate(50deg);
		transform: rotate(50deg);
	}
	
	.watch-face-hand.second {
		width: 2px;
		height: 145px;
		top: 20px;
		left: 149px;
		border-radius: 10px;
		background: #fa9f22;
		-webkit-transform-origin: 50% 130px;
		transform-origin: 50% 130px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

/* Watch Crown */
.watch-crown {
	position: relative;
	z-index: -1;
	width: 15px;
	height: 26px;
	top: -163px;
	left: 295px;
	border-radius: 5px;
	background: #999;
	border-right: 2px solid rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Watch Straps */
.watch-strap-top {
	position: relative;
	z-index: -1;
	width: 120px;
	height: 150px;
	left: 90px;
	bottom: -20px;
	background: #785734;
	border-radius: 10px 10px 0 0;
}

.watch-strap-bottom {
	position: relative;
	z-index: -1;
	width: 120px;
	height: 150px;
	left: 90px;
	bottom: 20px;
	background: #785734;
	border-radius: 0 0 10px 10px;
	color: rgba(0, 0, 0, 0.2);
	font-weight: bold;
	text-align: center;
	padding-top: 120px;
	text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}



.logo-name {
   position: absolute;
		
   font-weight: bold;
    text-align: center;
		top: 188px;
		right: 90px;
		font-size: 26px;
    line-height: 32px;
		color: #fff;
		font-weight: 300;
  
} 